/* Spawn Point Map Display Styles */
.area-map{ 
	width:100%;
	max-width:350px; 
	border: 2px solid #999; 
	border-radius:5px; 
}
.circle-container{ 
	position:relative;
	width:100%;
	max-width:354px; 
	overflow:hidden; 
	margin: 0; 
}
.circle-container .aligncenter{ margin: 0px; }
.spawn-circle-wrapper{ 
	position: absolute; 
	left: 15%; 
	top: 70%; 
	display:none;
}
.spawn-circle-title{ 
	position:relative; 
	top: 7px; 
}
.spawn-circle{
	float:left; 
	width:25px; 
	height:25px; 
	border: 3px solid; 
	border-radius:50%;
	/*width: 0; 
	height: 0; 
	border-left: 12px solid transparent; 
	border-right: 12px solid transparent; 
	border-bottom: 24px solid yellow;*/
}

/* Spawn Point List Styles */
.spawn-point{
	margin-top: 1px; 
	padding-left: 2px; 
	list-style:none; 
	background-color: #e2e2e2; 
	border-left: 18px solid white;
}
.spawn-point-voting{
	margin-left: 18px;
}
.x-loc, .y-loc{ display:none; }
.spawn-links{
	margin-bottom: 2px; 
	padding-bottom: 5px; 
	background-color: #eeeeee;
}
.spawn-list-left{
	display:block; 
	position:relative; 
	float:left;
}
.spawn-list-right{
	display:block; 
	float:right;
}
.spawn-link-title{
	display:block; 
	margin-left: 22px; 
	overflow:hidden;
}
.spawn-visibility{
	width: 16px;
	height:16px;
	position:absolute;
}
.spawn-viewable:hover{
	cursor: pointer;
}
.spawn-viewable{
	background: url('http://www.duelist-sandbox.com/database/css/viewable.png') center center no-repeat;
}
.spawn-viewing{
	background: url('http://www.duelist-sandbox.com/database/css/viewing.png') center center no-repeat;
}

.ui-tooltip, .ui-tooltip-content{ background: #fff !important; font-size:12px; }

/* Spawn Add Form Styles */
.spawn-add-form{ 
	display:none;
	max-width: 375px; 
	margin: 10px auto; 
	text-align:center; 
	background-color: #323C3A;
	color: #ccc;
	border-radius: 10px; 
	padding: 5px; 
}
.spawn-add-form a{ color:red; }
.spawn-add-instructions{ 
	display: none;
	margin-bottom: 20px;
}
.spawn-add-title{ 
	display:block;
	color: red;
	text-align:center;
	margin-bottom: 10px;
}
.spawn-add-link{ float:right; margin: 10px 0; }
.spawn-add-cancel-link{
	display: block;
	width: 100%;
	margin-right: 20px;
	text-align: right;
}
.instruction-step-title{ 
	text-align: center;
	background-color: #aaa;
	color: #000;
	border-bottom: 1px solid black;
}
.spawn-select-circle{ 
	position: absolute;
	z-index:20;
	left: 50%; 
	top: 50%; 
	color: yellow; 
	display: none;
}
.spawn-select-title{ 
	position:relative; 
	top: 7px; 
}
.spawn-select-darken-text{
	color: red;
}
.spawn-select-darken-circle{
	border-color: red;
}
.spawn-mouse-capture{ 
	width:100%;
	max-width: 354px; 
	overflow:hidden; 
	padding: 0px; 
	margin: 0 auto; 
	text-align:center; 
}
.ui-widget-content{ background: none; }
.ui-dialog{ 
	background-color: rgb(41, 41, 41);
	border-color: #000;
}
.ui-dialog-titlebar{
	color: #fff;
	border-color: #000;
	background: #ce6454; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlNjQ1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2JjMmUxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2FhMTgwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MDA5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ce6454 0%, #bc2e18 33%, #aa1801 39%, #700900 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce6454), color-stop(33%,#bc2e18), color-stop(39%,#aa1801), color-stop(100%,#700900)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ce6454 0%,#bc2e18 33%,#aa1801 39%,#700900 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ce6454 0%,#bc2e18 33%,#aa1801 39%,#700900 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ce6454 0%,#bc2e18 33%,#aa1801 39%,#700900 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ce6454 0%,#bc2e18 33%,#aa1801 39%,#700900 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce6454', endColorstr='#700900',GradientType=0 ); /* IE6-8 */
}
.ui-dialog-titlebar-close{
	display:none;
}
.spawn-points{ display:none; }
.et-tabs-container{ margin-top: 10px; }

/* Spawn Point Colors */
.spawn-color-1 .spawn-circle{
	border-color: LightBlue;
}
.spawn-color-1 .spawn-circle-title{
	color: LightBlue;
}
.spawn-color-2 .spawn-circle{
	border-color: Blue;
}
.spawn-color-2 .spawn-circle-title{
	color: Blue;
}
.spawn-color-3 .spawn-circle{
	border-color: #38ACEC;
}
.spawn-color-3 .spawn-circle-title{
	color: #38ACEC;
}
.spawn-color-4 .spawn-circle{
	border-color: Lime;
}
.spawn-color-4 .spawn-circle-title{
	color: Lime;
}
.spawn-color-5 .spawn-circle{
	border-color: #98FF98;
}
.spawn-color-5 .spawn-circle-title{
	color: #98FF98;
}
.spawn-color-6 .spawn-circle{
	border-color: #EDDA74;
}
.spawn-color-6 .spawn-circle-title{
	color: #EDDA74;
}
.spawn-color-7 .spawn-circle{
	border-color: Orange;
}
.spawn-color-7 .spawn-circle-title{
	color: Orange;
}
.spawn-color-8 .spawn-circle{
	border-color: #FAAFBA;
}
.spawn-color-8 .spawn-circle-title{
	color: #FAAFBA;
}
.spawn-color-9 .spawn-circle{
	border-color: #F433FF;
}
.spawn-color-9 .spawn-circle-title{
	color: #F433FF;
}
.spawn-color-10 .spawn-circle{
	border-color: White;
}
.spawn-color-10 .spawn-circle-title{
	color: White;
}
.spawn-circle-highlight .spawn-circle{
	border-color: yellow;
}
.spawn-circle-highlight .spawn-circle-title{
	color: yellow;
}
