<div>
<h1 style="text-align: center; color: #ff0000;"><strong>Wizard101 Reagent List</strong></h1>
<p style="text-align: center; margin-bottom: 25px; color: #ff9900;"><strong>Powered by the Duelist101 Community!</strong></p>
<div class='one_third '>
    <h3 style='color:#F90; text-align: center;'>Name 1</h3>
    <a href='reagents/Name+1' title='Name 1'><img style='width:100px;'
        src='http://www.duelist101.com/w101_reagents/Image1.gif' alt='Name 1' class='alignright' /></a>
    <p><strong style='color:#ffcc00'>Class</strong>: Fire</p>
    <p><strong style='color:#ffcc00'>Rank</strong>: 1</p>
    <p><a href='reagents/Name+1' title='Name 1'>Click here to find out more about Name 1</a></p>
    <p>&#160;</p>
    <span style="display:block; clear:both; margin-bottom: 20px;"> </span>
</div>
<div class='one_third '>
    <h3 style='color:#F90; text-align: center;'>Name 2</h3>
    <a href='reagents/Name+2' title='Name 2'><img style='width:100px;'
        src='http://www.duelist101.com/w101_reagents/Image2.gif' alt='Name 2' class='alignright' /></a>
    <p><strong style='color:#ffcc00'>Class</strong>: Fire</p>
    <p><strong style='color:#ffcc00'>Rank</strong>: 1</p>
    <p><a href='reagents/Name+2' title='Name 2'>Click here to find out more about Name 2</a></p>
    <p>&#160;</p>
    <span style="display:block; clear:both; margin-bottom: 20px;"> </span>
</div>
<div class='one_third last'>
    <h3 style='color:#F90; text-align: center;'>Name 3</h3>
    <a href='reagents/Name+3' title='Name 3'><img style='width:100px;'
        src='http://www.duelist101.com/w101_reagents/Image3.gif' alt='Name 3' class='alignright' /></a>
    <p><strong style='color:#ffcc00'>Class</strong>: Fire</p>
    <p><strong style='color:#ffcc00'>Rank</strong>: 1</p>
    <p><a href='reagents/Name+3' title='Name 3'>Click here to find out more about Name 3</a></p>
    <p>&#160;</p>
    <span style="display:block; clear:both; margin-bottom: 20px;"> </span>
</div>
<div style="clear: both;"></div>
<div class='one_third '>
    <h3 style='color:#F90; text-align: center;'>Name 4</h3>
    <a href='reagents/Name+4' title='Name 4'><img style='width:100px;'
        src='http://www.duelist101.com/w101_reagents/Image4.gif' alt='Name 4' class='alignright' /></a>
    <p><strong style='color:#ffcc00'>Class</strong>: Fire</p>
    <p><strong style='color:#ffcc00'>Rank</strong>: 1</p>
    <p><a href='reagents/Name+4' title='Name 4'>Click here to find out more about Name 4</a></p>
    <p>&#160;</p>
    <span style="display:block; clear:both; margin-bottom: 20px;"> </span>
</div>
</div>