<div>
<div class="post-wrapper post" style="padding:10px;">
	<h1 style="text-align: center; color: #DE2A0C;"><strong>Wizard101 Name 1 Reagent</strong></h1>
	<p style="text-align: center; margin-bottom: 25px; color: #ff9900;"><strong>Powered by the Duelist101 Community!</strong></p>
	<blockquote>
		<div class="one_third">
			<p style="text-align:center;">
				<strong style="color:#FC0;">Image:</strong>
			</p>
			<img style="max-width:350px; border: 2px solid #999; border-radius:5px;"
				 src="http://www.duelist101.com/w101_reagents/Image1.gif"
				 alt="Name 1 Image" class="aligncenter" />
		</div>
		<div class="two_third last">
		  <p><strong style="color:#FC0;">Name</strong>: Name 1</p>
		  <p><strong style="color:#FC0;">Class</strong>: Class 1</p>
		  <p><strong style="color:#FC0;">Rank</strong>: 1</p>
		  <p><strong style="color:#FC0;">Description</strong>: Description 1</p>
		</div>
	</blockquote>
	<h2 style=" color:#F90; text-align: center;">Sources of Name 1 Reagent</h2>

	<div class="tabs-left et_sliderfx_fade et_sliderauto_false et_sliderauto_speed_5000 et_slidertype_left_tabs clearfix"
		style="margin-bottom: 50px">
		<div class="et_left_tabs_bg"></div>
		<ul class="et-tabs-control">
			<li><a href="#">Areas</a></li>
			<li><a href="#">Creatures</a></li>
			<li><a href="#">Crown Shop</a></li>
			<li><a href="#">Plants</a></li>
			<li><a href="#">Vendors</a></li>
		</ul> <!-- .et-tabs-control -->
		<div class="et-tabs-content">
			<div class="et-tabs-content-wrapper">
				<div id="areas-div" class="et_slidecontent">
					<ul id="areas-ul">
		<!-- source also used in Javascript -->
						<li id="areas-add-li-template" style="text-align:center; display:none">
						  <a class="name" href="JS">JS</a>
							( 1 <a class="areas-vote-up" href="JS">△</a> |
							0 <a class="areas-vote-down" href="JS">▽</a> )
						</li>
					</ul>
					<div id="areas-add-div-link">
						<p><a id="areas-add-link" href="javascriptRequired.html">Add</a></p>
					</div>
					<div id="areas-add-div-form" style="display: none;">
						<form id="areas-add-form">
							<p>
								<input name="reagent_id" type="hidden" value="1" />
                                <input name="area_id" id="areas-add-select" type="hidden" />
							</p>
							<p style="margin-top: 20px">
								<input type="submit" value="Create" />
								 or 
								<a id="areas-add-cancel-link" href="javascriptRequired.html">Cancel</a>
							</p>
						</form>
					</div>
				</div>
				<div id="creatures-div" class="et_slidecontent">
					<p>To come.  Muhahahaha!</p>
					<ul id="creatures-ul">
		<!-- source also used in Javascript -->
						<li id="creatures-add-li-template" style="text-align:center; display:none">
						  <a class="name" href="JS">JS</a>
							( 1 <a class="creatures-vote-up" href="JS">△</a> |
							0 <a class="creatures-vote-down" href="JS">▽</a> )
						</li>
					</ul>
					<div id="creatures-add-div-link">
						<p><a id="creatures-add-link" href="javascriptRequired.html">Add</a></p>
					</div>
					<div id="creatures-add-div-form" style="display: none;">
						<form id="creatures-add-form">
							<p>
								<input name="reagent_id" type="hidden" value="1" />
                                <input name="area_id" id="creatures-add-select" type="hidden" />
							</p>
							<p style="margin-top: 20px">
								<input type="submit" value="Create" />
								 or 
								<a id="creatures-add-cancel-link" href="javascriptRequired.html">Cancel</a>
							</p>
						</form>
					</div>
				</div>
				<div id="crowns-div" class="et_slidecontent">
					<p>To come.  Muhahahaha!</p>
					<ul id="crowns-ul">
		<!-- source also used in Javascript -->
						<li id="crowns-add-li-template" style="text-align:center; display:none">
						  <a class="name" href="JS">JS</a>
							( 1 <a class="crowns-vote-up" href="JS">△</a> |
							0 <a class="crowns-vote-down" href="JS">▽</a> )
						</li>
					</ul>
					<div id="crowns-add-div-link">
						<p><a id="crowns-add-link" href="javascriptRequired.html">Add</a></p>
					</div>
					<div id="crowns-add-div-form" style="display: none;">
						<form id="crowns-add-form">
							<p>
								<input name="reagent_id" type="hidden" value="1" />
                                <input name="area_id" id="crowns-add-select" type="hidden" />
							</p>
							<p style="margin-top: 20px">
								<input type="submit" value="Create" />
								 or 
								<a id="crowns-add-cancel-link" href="javascriptRequired.html">Cancel</a>
							</p>
						</form>
					</div>
				</div>
				<div id="plants-div" class="et_slidecontent">
					<p>To come.  Muhahahaha!</p>
					<ul id="plants-ul">
		<!-- source also used in Javascript -->
						<li id="plants-add-li-template" style="text-align:center; display:none">
						  <a class="name" href="JS">JS</a>
							( 1 <a class="plants-vote-up" href="JS">△</a> |
							0 <a class="plants-vote-down" href="JS">▽</a> )
						</li>
					</ul>
					<div id="plants-add-div-link">
						<p><a id="plants-add-link" href="javascriptRequired.html">Add</a></p>
					</div>
					<div id="plants-add-div-form" style="display: none;">
						<form id="plants-add-form">
							<p>
								<input name="reagent_id" type="hidden" value="1" />
                                <input name="area_id" id="plants-add-select" type="hidden" />
							</p>
							<p style="margin-top: 20px">
								<input type="submit" value="Create" />
								 or 
								<a id="plants-add-cancel-link" href="javascriptRequired.html">Cancel</a>
							</p>
						</form>
					</div>
				</div>
				<div id="vendors-div" class="et_slidecontent">
					<p>To come.  Muhahahaha!</p>
					<ul id="vendors-ul">
		<!-- source also used in Javascript -->
						<li id="vendors-add-li-template" style="text-align:center; display:none">
						  <a class="name" href="JS">JS</a>
							( 1 <a class="vendors-vote-up" href="JS">△</a> |
							0 <a class="vendors-vote-down" href="JS">▽</a> )
						</li>
					</ul>
					<div id="vendors-add-div-link">
						<p><a id="vendors-add-link" href="javascriptRequired.html">Add</a></p>
					</div>
					<div id="vendors-add-div-form" style="display: none;">
						<form id="vendors-add-form">
							<p>
								<input name="reagent_id" type="hidden" value="1" />
                                <input name="area_id" id="vendors-add-select" type="hidden" />
							</p>
							<p style="margin-top: 20px">
								<input type="submit" value="Create" />
								 or 
								<a id="vendors-add-cancel-link" href="javascriptRequired.html">Cancel</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- .tabs-left -->
	<div class="clear"></div>
	<div style="clear:both;"> </div>
</div>

</div>