<div id="inner">
    <div id="content">
        <div id="left-div">
            <div class="post-wrapper post" style="padding:10px;">
                <div style="clear: both;"></div>
                <br />
                <br />
                <h1 style="text-align: center; color: #DE2A0C;"><strong>Wizard101 Name 1 Reagent</strong></h1>
                <p style="text-align: center; color: #ff9900;"><strong>Powered by the Duelist101 Community!</strong></p>
                <blockquote>
                    <div class="one_third">
                        <p style="text-align:center;">
                            <strong style="color:#FC0;">Image:</strong>
                        </p>
                        <img style="max-width:350px; border: 2px solid #999; border-radius:5px;"
                             src="http://www.duelist101.com/w101_reagents/Image1.gif"
                             alt="Name 1 Image" class="aligncenter" />
                    </div>
                    <div class="two_third last">
                      <p><strong style="color:#FC0;">Name</strong>: Name 1</p>
                      <p><strong style="color:#FC0;">Class</strong>: Fire</p>
                      <p><strong style="color:#FC0;">Rank</strong>: 1</p>
                      <p><strong style="color:#FC0;">Description</strong>: Description 1</p>
                    </div>
                    <div class="clear"></div>
                </blockquote>

                <div class='clear'></div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>