<div class="post-wrapper post" style="padding:10px;">
    <!-- thinking this spacing should be handled through CSS for div above -->
    <br />
    <h1 style="text-align: center; color: #ff0000;"><strong>Wizard101 Reagent List</strong></h1>
    <p style="text-align: center; color: #ff9900;"><strong>Powered by the Duelist101 Community!</strong></p>
    <br />
    <br />
<!-- cut:reagent -->
    <div class='one_third #lastOption?#'>
        <h3 style='color:#F90; text-align: center;'>#name#</h3>
        <a href='#linkName#' title='#name#'><img style='width:100px;'
            src='http://www.duelist101.com/w101_reagents/#image#' alt='#name#' class='alignright' /></a>
        <p><strong style='color:#ffcc00'>Class</strong>: #className#</p>
        <p><strong style='color:#ffcc00'>Rank</strong>: #rank#</p>
        <p><a href='#linkName#' title='#name#'>Click here to find out more about #name#</a></p>
        <p>&#160;</p>
        <span style="display:block; clear:both; margin-bottom: 20px;"> </span>
    </div>
    #lastFooter?# 
<!-- /cut:reagent -->

    <div style="clear: both;"></div>
</div>
<!-- again thinking should be handled by CSS for div -->
<br />
