<div id="content">
  <div id="left-div">
    <span class="single-entry-titles" style="margin-top: 18px;"> </span>
  <div class="post-wrapper post" style="padding:10px;">
      <div style="clear: both;"></div><br>
      <br>
      
<!-- cut:reagent -->
      <div class='one_third #lastOption?#'>
        <h3 style='color:#F90; text-align: center;'>#name#</h3><a href='#linkName#' title='#name#'><img style='width:100px;' src=
        'http://www.duelist101.com/w101_reagents/#image#' alt='#name#' class='alignright'></a>
        <p><strong style='color:#ffcc00'>Class</strong>: #className#</p>
        <p><strong style='color:#ffcc00'>Rank</strong>: #rank#</p>
        <p><a href='#linkName#' title='#name#'>Click here to find out more about #name#</a></p>
        <p>&nbsp;</p>
		<span style="display:block; clear:both; margin-bottom: 20px;"> </span>
      </div>#lastFooter?# 
<!-- /cut:reagent -->

      <div style="clear: both;"></div>
    </div><br>
    <br>
  </div>
</div>
