<div id="inner">
<div id="content">
  <div id="left-div">
    <div class="post-wrapper post" style="padding:10px;">
      <div style="clear: both;"></div><br />
      <br />
      
<!-- cut:reagent -->
      <h1 style="text-align: center;"><span style="color: #DE2A0C;"><strong>Wizard101 #name# Reagent</strong></span></h1>
      <p style="text-align: center;"><span style="color: #ff9900;"><strong>Powered by the Duelist101 Community!</strong></span></p>
      <blockquote>
        <div class="one_third">
        <p style="text-align:center;"><strong style="color:#FC0;">Image:</strong></p><img style=
        "max-width:350px; border: 2px solid #999; border-radius:5px;" src="http://www.duelist101.com/w101_reagents/#image#" alt=
        "#name# Image" class="aligncenter" /></div>
        <div class="two_third last">
          <p><strong style="color:#FC0;">Name</strong>: #name#</p>
          <p><strong style="color:#FC0;">Class</strong>: #className#</p>
          <p><strong style="color:#FC0;">Rank</strong>: #rank#</p>
          <p><strong style="color:#FC0;">Description</strong>: #description#</p>
        </div>
        <div class="clear"></div>
      </blockquote>
<!-- /cut:reagent -->
      
<!-- cut:allSourcesHeader -->
      <h2 style=' color:#F90; text-align: center;'>Sources of #reagentName# Reagent</h2>
<!-- /cut:allSourcesHeader -->
      
<!-- cut:sourceHeader -->
      <div class='one_fourth'>
        <h3 style=' color:#ffcc00; text-align: center;'>#sourceType#</h3>
<!-- /cut:sourceHeader -->
        
<!-- cut:source -->
        <p style="text-align:center;">
		  <a href='#url#'>#source#</a> ( #voteUp?# △ | #voteDown?# ▽ )
		</p>
<!-- /cut:source -->
        
<!-- cut:sourceFooter -->
      </div>
<!-- /cut:sourceFooter -->

      <div class='clear'></div>
    </div><br />
    <br />
  </div>
</div>
</div>