<div id="content">
<div id="left-div">
<span class="single-entry-titles" style="margin-top: 18px;"> </span>
<div class="post-wrapper post" style="padding:10px;">
  <div style="clear: both;"></div>
  <br />
  <br />
  
	<!-- cut:reagent -->
	<h1 style="text-align: center;">
		<span style="color: #DE2A0C;">
			<strong>
				Wizard101 #name# Reagent
			</strong>
		</span>
	</h1>
	
	<p style="text-align: center;">
		<span style="color: #ff9900;">
			<strong>
				Powered by the Duelist101 Community!
			</strong>
		</span>
	</p>
	<blockquote>
		<div class="one_third">
					<p style="text-align:center;"><strong style="color:#FC0;">Image:</strong></p>
			<img style="max-width:350px; border: 2px solid #999; border-radius:5px;" src="http://www.duelist101.com/w101_reagents/#image#" alt="#name# Image" class="aligncenter">
				</div>
		<div class="two_third last">
					<p><strong style="color:#FC0;">Name</strong>: #name#</p>
			<p><strong style="color:#FC0;">Class</strong>: #className#</p>
			<p><strong style="color:#FC0;">Rank</strong>: #rank#</p>
			<p><strong style="color:#FC0;">Description</strong>: #description#</p>
			<p><strong style="color:#FC0;"></strong></p>
			<p><strong style="color:#FC0;"></strong></p>
			<p><strong style="color:#FC0;"></strong></p>
			<p></p>
				</div><div class="clear"></div>
	</blockquote>
	<!-- /cut:reagent -->
	
</div>
<br />
<br />
	
     <div id="duelist_disqus_wrapper" class="post entry">
          <h2 class="entry-title"><a title="comments">
            Leave A Comment!
          </a></h2>
	
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'duelist101'; // required: replace example with your forum shortname
			var disqus_url = 'http://duelist101.com/database/index.php';
			var disqus_title = 'Wizard101 Database Index';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		
	</div>
	
</div>
</div>

