<div class="post-wrapper post" style="padding:10px;">
	<h1 style="text-align: center; color: #ff0000;"><strong>Wizard101 Fish List</strong></h1>
	<p style="text-align: center; margin-bottom: 25px; color: #ff9900;">
        <strong>Powered by the Duelist101 Community!</strong>
    <!-- cut:addLink1 -->
        <a href="#addLink#">Add New Fish</a>
    <!-- /cut:addLink1 -->
    </p>
	<!-- cut:fish -->
	<div class='one_third #lastOption?#'>
		<h3 style='color:#F90; text-align: center;'>#name#</h3>
		<a href='#linkName#' title='#name#'><img style='width:100px;'
			src='#image#' alt='#name#' class='alignright' /></a>
		<p><strong style='color:#ffcc00'>Class</strong>: #className#</p>
		<p><strong style='color:#ffcc00'>Rarity</strong>: #rarity#</p>
		<p><strong style='color:#ffcc00'>Initial XP</strong>: #initialXp#</p>
		<p><a href='#linkName#' title='#name#'>Click here to find out more about #name#</a></p>
		<p>&#160;</p>
		<span style="display:block; clear:both; margin-bottom: 20px;"> </span>
	</div>
		<!-- cut:lastFooter -->
	<div style="clear: both;"></div>
		<!-- /cut:lastFooter -->
	<!-- /cut:fish -->
    <div style="clear:both;"> </div>
    <!-- cut:addLink2 -->
    <p style="text-align: center; margin-bottom: 25px;">
        <a href="#addLink#">Add New Fish</a>
    </p>
    <!-- /cut:addLink2 -->
</div>