.spawn-add-form{ 
	display:none;
	max-width: 375px; 
	margin: 10px auto; 
	text-align:center; 
	background-color: #323C3A;
	color: #ccc;
	border-radius: 10px; 
	padding: 5px; 
}
.spawn-add-form a{ color:red; }
.spawn-add-instructions{ 
	display: none;
	margin-bottom: 20px;
}
.spawn-add-title{ 
	display:block;
	color: red;
	text-align:center;
	margin-bottom: 10px;
}
.spawn-add-cancel-link{
	display: block;
	width: 100%;
	margin-right: 20px;
	text-align: right;
}
.instruction-step-title{ 
	text-align:left;
	border-bottom: 1px solid black;
}
.instruction-title-highlight{
	text-align: center;
	background-color: #aaa;
	color: #000;
}

.area-map{ 
	width:100%;
	max-width:350px; 
	border: 2px solid #999; 
	border-radius:5px; 
}
.circle-container{ 
	position:relative;
	width:100%;
	max-width:354px; 
	overflow:hidden; 
	margin: 0; 
}
.circle-container .aligncenter{ margin: 0px; }
.spawn-select-circle{ 
	position: absolute; 
	left: 15%; 
	top: 70%; 
	color: yellow; 
	display: none; 
}
.spawn-select-title{ 
	position:relative; 
	top: 7px; 
}
.spawn-circle{
	float:left; 
	width:25px; 
	height:25px; 
	border: 3px solid yellow; 
	border-radius:50%;
}
.spawn-select-darken-text{
	color: #FC0;
}
.spawn-select-darken-circle{
	border-color: #FC0;
}

.spawn-mouse-capture{ 
	width:100%;
	max-width: 354px; 
	overflow:hidden; 
	padding: 0px; 
	margin: 0 auto; 
	text-align:center; 
}

.ui-widget-content{ background: none; }
.ui-dialog{ 
	background-color: rgb(41, 41, 41);
	border-color: #000;
}
.ui-dialog-titlebar{
	color: #fff;
	border-color: #000;
	background: #ce6454; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlNjQ1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2JjMmUxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2FhMTgwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MDA5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ce6454 0%, #bc2e18 33%, #aa1801 39%, #700900 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce6454), color-stop(33%,#bc2e18), color-stop(39%,#aa1801), color-stop(100%,#700900)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ce6454 0%,#bc2e18 33%,#aa1801 39%,#700900 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ce6454 0%,#bc2e18 33%,#aa1801 39%,#700900 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ce6454 0%,#bc2e18 33%,#aa1801 39%,#700900 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ce6454 0%,#bc2e18 33%,#aa1801 39%,#700900 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce6454', endColorstr='#700900',GradientType=0 ); /* IE6-8 */
}
.ui-dialog-titlebar-close{
	display:none;
}